project_id         = "your-gcp-project-id"
region             = "us-central1"
cluster_name       = "lab-cluster"
github_org         = "your-github-org"
github_repo        = "gke-devsecops-survival-kit"
cicd_sa_name       = "cicd-sa"
trivy_sa_name      = "trivy-sa"
cloudbuild_sa_name = "cloudbuild-deployer"
bq_dataset_id      = "trivy_logs"
